/dts-v1/;
/plugin/;

/ {
 fragment@0 {
  target = <&i2c3>;
  __overlay__ {
      #address-cells = <1>;
      #size-cells = <0>;
         gpio_slot1: pca9501@11 {
          compatible = "nxp,pcf8574";
          gpio-controller;
          #gpio-cells = <2>;
          reg = <11>;
          gpio-line-names = "",
             "AccGyro_ICG_extInt",
             "AccGyro_MC_extInt_1",
             "AccGyro_MC_extInt_2",
             "",
             "",
             "",
             "";
         };
  };
 };

 fragment@1 {
  target = <&ecspi2>;
  __overlay__ {
         status = "okay";
         #address-cells = <1>;
         #size-cells = <0>;

   spidev_icg: spi@1 {
                compatible = "rohm,dh2228fv";
                reg = <1>;
                status = "okay";
                spi-max-frequency = <8000000>;
            };
   };
 };

};