ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup11",  RUN+="/opt/unipi/tools/uhelper '' iogroup11 11 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup11/*",  RUN+="/opt/unipi/tools/uhelper '' $name 11 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup11/*",  RUN+="/opt/unipi/tools/uhelper '' $name 11 $name"