ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup12",  RUN+="/opt/unipi/tools/uhelper '' iogroup12 12 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup12/*",  RUN+="/opt/unipi/tools/uhelper '' $name 12 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup12/*",  RUN+="/opt/unipi/tools/uhelper '' $name 12 $name"