
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-000a/gpiochip*",  RUN+="/opt/unipi/tools/uhelper accgyro gpiochip 72 $name"

ACTION=="add|remove", SUBSYSTEM=="spidev", DEVPATH=="*/spi_master/spi2/spi2.4/spidev/spidev2.4",  RUN+="/opt/unipi/tools/uhelper accgyro spidev 72 $name"
