ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttymxc1", RUN+="/opt/unipi/tools/uhelper loranode tty 21 $name"
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-000a/gpiochip*",  RUN+="/opt/unipi/tools/uhelper loranode gpiochip 21 $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/loraleds/leds/loranode-21-tx",  RUN+="/opt/unipi/tools/uhelper loranode led.tx 21 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/loraleds/leds/loranode-21-rx",  RUN+="/opt/unipi/tools/uhelper loranode led.rx 21 $name"