
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-000e/gpiochip*",  RUN+="/opt/unipi/tools/uhelper accgyro gpiochip 52 $name"

ACTION=="add|remove", SUBSYSTEM=="spidev", DEVPATH=="*/spi_master/spi2/spi2.2/spidev/spidev2.2",  RUN+="/opt/unipi/tools/uhelper accgyro spidev 52 $name"
