ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup32",  RUN+="/opt/unipi/tools/uhelper '' iogroup32 32 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup32/*",  RUN+="/opt/unipi/tools/uhelper '' $name 32 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup32/*",  RUN+="/opt/unipi/tools/uhelper '' $name 32 $name"