ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup62",  RUN+="/opt/unipi/tools/uhelper '' iogroup62 62 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup62/*",  RUN+="/opt/unipi/tools/uhelper '' $name 62 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup62/*",  RUN+="/opt/unipi/tools/uhelper '' $name 62 $name"