
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-0008/gpiochip*",  RUN+="/opt/unipi/tools/uhelper accgyro gpiochip 12 $name"

ACTION=="add|remove", SUBSYSTEM=="spidev", DEVPATH=="*/spi_master/spi2/spi2.0/spidev/spidev2.0",  RUN+="/opt/unipi/tools/uhelper accgyro spidev 12 $name"
