
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-000b/gpiochip*",  RUN+="/opt/unipi/tools/uhelper accgyro gpiochip 22 $name"

ACTION=="add|remove", SUBSYSTEM=="spidev", DEVPATH=="*/spi_master/spi2/spi2.1/spidev/spidev2.1",  RUN+="/opt/unipi/tools/uhelper accgyro spidev 22 $name"
