ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttymxc0", RUN+="/opt/unipi/tools/uhelper zigbee tty 22 $name"
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-000b/gpiochip*",  RUN+="/opt/unipi/tools/uhelper zigbee gpiochip 22 $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/loraleds/leds/zigbee-22-led1b",  RUN+="/opt/unipi/tools/uhelper zigbee led1 22 $name"