
ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-0009/gpiochip*",  RUN+="/opt/unipi/tools/uhelper accgyro gpiochip 11 $name"

ACTION=="add|remove", SUBSYSTEM=="spidev", DEVPATH=="*/spi_master/spi1/spi1.0/spidev/spidev1.0",  RUN+="/opt/unipi/tools/uhelper accgyro spidev 11 $name"
