ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup21",  RUN+="/opt/unipi/tools/uhelper '' iogroup21 21 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup21/*",  RUN+="/opt/unipi/tools/uhelper '' $name 21 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup21/*",  RUN+="/opt/unipi/tools/uhelper '' $name 21 $name"