ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*/tty/ttymxc3", RUN+="/opt/unipi/tools/uhelper iqrf tty 62 $name"

ACTION=="add|remove", SUBSYSTEM=="gpio", DEVPATH=="*/i2c-2/2-0009/gpiochip*",  RUN+="/opt/unipi/tools/uhelper iqrf gpiochip 62 $name"

ACTION=="add|remove", SUBSYSTEM=="spidev", DEVPATH=="*/spi_master/spi1/spi1.0/spidev/spidev1.0",  RUN+="/opt/unipi/tools/uhelper iqrf spidev 62 $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot62/leds/iqrf-62-ledr",  RUN+="/opt/unipi/tools/uhelper iqrf led.ledr 62 $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot62/leds/iqrf-62-ledg",  RUN+="/opt/unipi/tools/uhelper iqrf led.ledg 62 $name"
