ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup52",  RUN+="/opt/unipi/tools/uhelper '' iogroup52 52 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup52/*",  RUN+="/opt/unipi/tools/uhelper '' $name 52 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup52/*",  RUN+="/opt/unipi/tools/uhelper '' $name 52 $name"