ACTION=="add|remove", SUBSYSTEM=="iogroup", DEVPATH=="*/iogroup42",  RUN+="/opt/unipi/tools/uhelper '' iogroup42 42 $name"
ACTION=="add|remove", SUBSYSTEM=="unipi_gpio", DEVPATH=="*/iogroup42/*",  RUN+="/opt/unipi/tools/uhelper '' $name 42 $name"
ACTION=="add|remove", SUBSYSTEM=="iio", DEVPATH=="*/iogroup42/*",  RUN+="/opt/unipi/tools/uhelper '' $name 42 $name"